.the-loan {
  padding: 60px 20px;
}

.the-loan-write h1 {
  font-size: 30px;
  font-weight: 700;
  font-family: Open Sans;
}

.the-loan-write p {
  font-size: 16px;
  font-weight: 600;
  
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.7;
}

.change {
  align-items: center;
}

.loan-left h1 {
  font-size: 36px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: black;
  line-height: 1.3;
}

.loan-left p {
  font-size: 16px;

  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
}

input {
  width: 100%;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-left: 15px;
}

.row1 {
  margin-top: 20px;
}

label {
  font-size: 18px;
}

#submit {
  color: white;
  margin-top: 20px;
  background: red;
  font-weight: 600;
  font-size: 13px;
  font-family: "Monserrat", sans-serif;
}

.loan-form {
  padding: 60px 0px;
}

#shift {
  margin-top: 100px;
}

.only {
  color: red;
  font-weight: 600;
}

.image {
    width: 170px;
}

@media screen and (max-width: 825px) {

    .loan-form {
        padding: 0px 20px;
    }

    .the-loan-pic {
        margin-top: 20px;
    }

    .the-loan-write p {
        font-size: 16px;
      
        font-family: 'Didact Gothic', sans-serif;
        line-height: 1.7;
    }

    

    

}

@media screen and (max-width: 600px) {

    .loan-left h1{
        font-size: 22px;
    }

    .loan-left p {
        font-size: 16px;
      
        font-family: 'Didact Gothic', sans-serif;
        line-height: 1.7;
      }
      

}


