.name {
  font-size: 25px;
  font-weight: 800;
  color: black;
  font-family: sans-serif;
  margin-top: 15px;
  padding: 0px 10px;
}

.your-details {
  font-weight: bolder;
  font-size: 23px;
  font-family: Calibri;
  margin-top: 17px;
}

.profile-left {
  display: flex;
  flex-direction: column;
}

.left-write {
  text-align: left;
}

.left-write p {
  color: rgba(0, 0, 0, 0.6);
}

.right-write p span {
  color: rgb(27, 98, 230);
  font-size: 13px;
}

.control p {
  font-size: 12px;
  font-weight: 600;
}

.control {
  margin-top: 20px;
}

.add-document {
  display: flex;
  gap: 2rem;
}

.document {
  width: 100%;
  height: 100px;
  background: #eee;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-sign i {
  font-size: 40px;
}

.profile-right h3 {
  font-weight: bolder;
}

.added-document {
  margin-top: 40px;
}

.profile-right {
  padding: 20px 90px;
}

@media screen and (max-width: 1100px) {
  .control {
    display: flex;
  }

  .profile-right {
    padding: 0;
  }

  .add-document {
    margin-top: 25px;
  }

  .document {
    margin-top: 25px;
  }
}
